<div class="jumbotron">
  <h2>Simple blog by Phoenix</h2>
  <%= unless current_user(@conn) do %>
    <p class="lead">
      <%= link to: user_path(@conn, :new) do %>
        <button type="button" class="btn btn-primary">
          Sign in!
        </button>
      <% end %>
    </p>
  <% end %>
</div>
